:root {
	--title-bar-height: 20px;
	--guild-list-width: 70px;
	--chat-input-height: 52px;

	--bg-opacity: 0.8;

	--animation-length: 0.2s;
}

.typeWindows-1za-n7 {
	margin-top: 0;
	padding-top: 3px;
}

/* Headers */

[class^='title-'] [class^='divider-'] {
	display: none !important;
}

[class^='search-'] {
	border-radius: 0;
}

[class^='base-'] {
	border-radius: 0 !important;
}

[class^='libraryHeader-'] {
	box-shadow: var(--elevation-low);
}

/* Channel list */

[class^='scroller-'] {
	overflow-y: auto !important;
}

[class^='sidebar-'] [class^='containerDefault-'] [class^='content-'] {
	margin: 0 !important;
	padding: 0px 20px;
	height: 100%;
	border-radius: 0 !important;
}

/* Friends list */

[class^='privateChannels-'] button[class^='searchBarComponent-'] {
	border-radius: 0;
}

[class^='privateChannels-'] a[class^='channel-'] {
	margin: 0;
	min-width: 100%;
	padding: 0;
}

[class^='privateChannels-'] a[class^='channel-'] [class^='layout-'] {
	border-radius: 0;
	padding: 3px 20px;
}

/* Member list */

[class^='membersWrap-'] [class^='membersGroup-'] {
	margin-bottom: 5px !important;
}

[class^='membersWrap-'] div[class^='member-'] {
	margin: 0 !important;
	padding: 0 !important;
	min-width: 100% !important;
}

[class^='membersWrap-'] div[class^='member-'] [class^='layout-'] {
	border-radius: 0 !important;
}

[class^='membersWrap-'] [class^='avatar-'] {
	margin: 0 !important;
}

[class^='membersWrap-'] [class^='avatar-'] svg > foreignObject {
	display: none !important;
}

[class^='membersWrap-'] [class^='avatar-'] svg > rect {
	x: 0 !important;
	y: -5 !important;
	transform: translate(5px, 50%) !important;
}

/* Message form */

[class^='chatContent-'] form {
	margin: 0;
	border: none;
	min-height: var(--chat-input-height);
}

[class^='chatContent-'] form [class^='channelTextArea-'],
[class^='chatContent-'] form [class^='channelTextArea-'] [class^='scrollableContainer-'] {
	margin: 0;
	min-height: var(--chat-input-height);
	border-radius: 0;
	overflow-y: hiddden;
}

[class^='chatContent-'] form [class^='inner-'] {
	margin-top: 4px;
}

/* Messages */

[class^='messagesWrapper'] [class^='dividerEnabled-'] {
	display: none;
}

